<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>게시판 글 등록</title>
</head>

<body class="bg-light">
<th:block th:replace="layout/navbar :: navbarFragment"></th:block>
<div class="container mt-5">
    <h1 class="display-4">게시판 글 등록</h1>
    <hr/>

    <form action="/board/write" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목" required>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" name="content" placeholder="내용" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</body>
</html>
