<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<meta charset="UTF-8">
<head>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<th:block th:replace="/layout/navbar :: navbarFragment"></th:block>
<h1>게시판 글 수정</h1>
<hr/>

<form role="form" th:action="@{/board/update/{id}(id=${id})}" method="post">
  <input type="text" name="title" th:value="${result.title}" placeholder="제목"/> <br/>
  <input type="text" name="content" th:value="${result.content}" placeholder="내용"/> <br/>
  <button>등록</button>
</form>
</body>
</html>