<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="~{fragment/header::headerFragment(~{::title})}">
    <title th:text="회원가입"></title>
</head>
<body>

<h2>회원가입</h2>
<form action="/signup" method="post">
    아이디:<input type="text" name="id"><br>
    비밀번호:<input type="text" name="pwd"><br>
    이메일:<input type="text" name="email"><br>
    이름:<input type="text" name="name"><br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>