<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.musi.shop.web.mapper.AlbumMapper">

    <select id="findNewAlbum" resultType="com.musi.shop.web.entity.album.Album">
        SELECT * FROM Album
        ORDER BY album_id DESC
        LIMIT 4
    </select>

    <select id="bestAlbum" resultType="com.musi.shop.web.entity.album.Album">
        SELECT *
        FROM Album
        ORDER BY view DESC
            LIMIT 1
    </select>



</mapper>