<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>앨범 등록 페이지</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>앨범 등록 페이지</h1>

<form th:action="@{/album/add}" method="post" th:object="${albumDto}">
    <!-- 앨범 필드 입력 -->
    <input type="text" th:field="*{title}">
    <input type="text" th:field="*{name}">
    <input type="number" th:field="*{price}">
    <input type="text" th:field="*{img}">
    <input type="text" th:field="*{regdate}">

    <!-- 음악 필드 입력 -->
    <input type="number" th:field="*{songdex}">
    <input type="text" th:field="*{song_name}">
</form>
</body>
</html>