<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <title>앨범 상세보기</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

<div class="layout">
  <table>

    <tbody>

    <h2 th:text = "${albumDto.title}"></h2>
      <td th:text="${albumDto.name}"></td>
      <td th:text="${albumDto.img}"></td>
    <td th:text="${albumDto.price}"></td>
    <td th:text="${albumDto.regdate}"></td>
      <!--반복문으로 song -->
    <tr th:each="songDto : ${albumDto.songs}">
      <td th:text="${songDto.songdex}"></td>
      <td th:text="${songDto.song_name}"></td>

    </tr>

    </h2>
    </tbody>
  </table>

  <button id="likeButton">좋아요</button>


</div>
<script>
  $(document).ready(function() {
    $("#likeButton").click(function() {
      var albumId = 504;  // 좋아요 처리할 앨범의 ID, 동적으로 설정 필요
      console.log("클릭!!!!!!!!!!!!!!!!!!")
      alert("클릭!!");
      $.ajax({
        type: "POST",
        url: "/albums/" + albumId,
        success: function(response) {

          alert(response);
          //     if (response.status === "success") {
          //         // 좋아요 처리가 성공한 경우
          //         alert("좋아요 처리가 성공했습니다.");
          //     } else {
          //         // 좋아요 처리가 실패한 경우
          //         alert("좋아요 처리 중에 오류가 발생했습니다.");
          //     }
        },
        error: function(error) {
          alert("좋아요 처리 중에 예외가 발생했습니다.");
        }

      });
    });
  });
</script>
</body>
</html>
