<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>앨범 상세보기</title>
</head>

<body>

<div class="layout">
  <table>

    <tbody>

    <h2 th:text = "${albumDto.title}"></h2>
      <td th:text="${albumDto.name}"></td>
      <td th:text="${albumDto.img}"></td>
    <td th:text="${albumDto.price}"></td>
    <td th:text="${albumDto.regdate}"></td>
      <!--반복문으로 song -->
    <tr th:each="songDto : ${albumDto.songs}">
      <td th:text="${songDto.songdex}"></td>
      <td th:text="${songDto.song_name}"></td>

    </tr>

    </h2>
    </tbody>
  </table>





</div>

</body>
</html>
