<html lang="ko"
       xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<meta charset="UTF-8">
<head>
    <title th:text="회원가입"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<h1>회원가입 페이지</h1>
<hr/>




<form action="/joinProc" method="post">
    <input type="email" name="username" placeholder="Username"/> <br/>
    <input type="password" name="password" placeholder="Password"/> <br/>
    <input type="text" name="Nickname" placeholder="Nickname"/> <br/>
    <input type="text" name="email" placeholder="email"/> <br/>
    <button>회원가입</button>
</form>
</body>
</html>